
*{
    font-family: sans-serif;
}

.container{
    background:linear-gradient(to right,rgba(247, 92, 190,0.8)20%,rgba(255, 196, 3, 0.7));
    width:100%;
    height:auto;
    padding-bottom:5%;
}

.background-img{
    width:100%;
    height:800px;
    background-image: url(./background.jpg);
    background-size: cover;
    position: relative
}

.background-img > div{
   width:40%;
   height:auto;
   padding:1.5rem;
   background-color: rgba(228, 102, 117, 0.6);
   position: absolute;
   top: 30%;
   left:6%;
   color:white;
}

.background-img > div h1{
    font-size: 3rem;
    margin-bottom: 0.6rem;
    margin-top: 1rem;
}

.background-img > div p{
    width:80%;
    font-size: larger;
    line-height: 1.5rem;
    
}

.food-container{
    text-align: center;
}

.food-container h1{
    margin-top: 5%;
    font-size: 3rem;
    color:white;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cards > div{
    width:250px;
    padding:1.5%;
    margin: 4%;
    background-color: white;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 25%;
}

.cards > div > img{
    width:100%;
    height:260px;
    border-top-right-radius: 20%;
}

button{
    color:black;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 5%;
    padding:1rem 4rem;
    border-radius: 3rem;
    border:0;
    background-color: rgba(232, 227, 230, 0.5);

}






@media (max-width:1100px){

    /* top section */

    .background-img > div{
        width:55%;
        padding:1rem;
     }

    .background-img > div h1{
        font-size: 2.3rem;
        margin-bottom: 5px;
        margin-top: .5rem;
    }



    /* bottom section */

    .cards > div{
       padding:2%;
    }
}







@media (max-width:500px){

/* top section */


.background-img > div{
    width:60%;
    padding:1rem;
 }

.background-img > div h1{
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin-top: .5rem;
}

.background-img > div p{
    width:80%;
    font-size: medium;
    line-height: 1.5rem;    
}


/* bottom section */

    .cards > div{
        padding:4%;
     }
}